<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.views">
      <category
            name="Clock Keeper"
            id="ClockPlugin">
      </category>
      <view
            id="com.ui.plugin.clock.views.ClockView"
            name="Clock View"
            icon="icons/sample.png"
            class="com.ui.plugin.clock.views.ClockView"
            category="ClockPlugin"
            inject="true">
      </view>

      <category
            id="TimeZoneView"
            name="TimeZone Keeper">
      </category>
      <view
            category="TimeZoneView"
            class="com.ui.plugin.clock.views.TimeZoneView"
            icon="icons/sample.png"
            id="com.ui.plugin.clock.views.TimeZoneView"
            inject="true"
            name="Time Zone View"
            restorable="true">
      </view>
	<category
            id="com.ui.plugin.clock"
            name="Time Zone Tree">
      </category>
      <view
            category="com.ui.plugin.clock"
            class="com.ui.plugin.clock.views.TimeZoneTreeView"
            icon="icons/sample.png"
            id="com.ui.plugin.clock.views.TimeZoneTreeView"
            inject="true"
            restorable="true"
            name="Time Zone Tree View">
      </view>
      <category
            id="TimeZoneTableView"
            name="Time Zone Table View">
      </category>
      <view
            category="TimeZoneTableView"
            class="com.ui.plugin.clock.views.TimeZoneTableView"
            icon="icons/sample.png"
            id="com.ui.plugin.clock.TimeZoneTableView"
            inject="true"
            name="TimeZoneTableView">
      </view>

   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.ui.plugin.clock.views.ClockView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>

      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.ui.plugin.clock.views.TimeZoneView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>

      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.ui.plugin.clock.views.TimeZoneTreeView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.ui.plugin.clock.TimeZoneTableView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>

   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>


      <contexts
            file="contexts.xml">
      </contexts>

      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
